In [3]:
import pandas as pd

housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv', index_col = 'id')

In [4]:
housing.head()

                       date  bedrooms  ...  sqft_lot15     price
id                                     ...
1565930130  20141104T000000         4  ...        4033  429900.0
3279000420  20150115T000000         3  ...        7865  233000.0
194000575   20141014T000000         4  ...        5800  455000.0
2115510160  20141208T000000         3  ...        7488  258950.0
7522500005  20140815T000000         2  ...        5962  555000.0

[5 rows x 20 columns]